/* HOME SECTION  */
.textAndPhoto{
    height: fit-content;
    width: 100%;
    /* border: 2px solid brown; */
    display: flex;
    /* background: transparent url('./WhatsApp_Image_2021-11-08_at_12.01.06_PM-removebg-preview.png') 0% 0% no-repeat padding-box;
    opacity: 1; */
    background-color: rgb(14, 108, 124);
    justify-content: space-around;
  }
  .textBoxHome{
    height: fit-content;
    width: 600px;
    /* border: 2px solid red; */
    padding: 3px 70px;
    margin-left: 40px;
    color: beige;
  }
  .photoInHome{
    height: fit-content;
    width: 700px;
    /* border: 2px solid red; */
    /* background: transparent url('../images/WhatsApp_Image_2021-11-08_at_12.01.06_PM-removebg-preview.png') 2% 40% no-repeat padding-box; */
    opacity: 1;
  }
  .buttonsInHome{
    margin-top: 50px;
  }
  .btns{
    /* border: 2px solid; */
    display: flex;
    /* margin-top: 60px; */
  }
  .btn{
    padding: 5px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 23px;
  }
  .getResume{
    margin-left: 50px;
    background-color: rgb(255, 191, 73);
    color: whitesmoke;
  }
  .hireMeBtn{
    background-color:#0ABEAD;
    color: antiquewhite;
  }